* {
    font-family: verdana;
    margin: 0;
}

body {
    background: #eee;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

/* Flex Container: Start */
.flex-container {
    display: flex;
    background: #fff;
    flex-wrap: wrap;
}

.box {
    height: 100px;
    /* flex-basis: 200px; */
    flex-grow: 1;
    /* flex: 1 0 200px; */
    /* flex: 1; */
}

.one {
    background: red;
    flex-basis: 100px;
}

.two {
    background: blue;
    flex-basis: 200px;
}

.three {
    background: green;
    flex-basis: 300px;
}
/* Flex Container: End */
* {
    font-family: verdana;
    margin: 0;
}

body {
    background: #eee;
    color: #333;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

#blocks {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

#blocks div {
    flex: 0 0 100px;
    padding: 40px 0;
    text-align: center;
    background: #ccc;
}

.one {
    order: 4;
}

.two {
    order: 3;
}

.three {
    order: 2;
}

.four {
    order: 1;
}